/* Navbar */
.header{
    background-color: rgb(59, 60, 72);
    opacity: 0.9;
}
.link1:hover, .link1 .active {
    background-color: rgb(239, 102, 3) !important;
    border-radius: 35px !important;
}
        /* section home */
.sec-home{
    background-color: rgb(59, 60, 72) ;
}     
.btn-outline-secondary:hover{
    background-color:rgb(239, 102, 3) !important;
    
}
.btn-outline-secondary{
    color: white !important;
    border: 2px solid rgb(239, 102, 3) !important;
}
        /* section About */
 .barre{
    height: 2px;
    width: 115px;
    background-color: rgb(239, 102, 3) ;
}
.btn-primary {
    background-color:rgb(239, 102, 3) !important ;
}
.bi-check2-circle{
    color: #ef6603;
}
.icon-about{ 
    font-size: 55px;
    color: rgb(82, 83, 85);
} 
#About .nav-pills .nav-link{
    background-color: white;
    margin-left: 8px;
    margin-right: 8px;
     color: rgb(82, 83, 85); 

}

#About .nav-pills .nav-link:hover,  #About .nav-pills .active {
    background-color: rgb(231, 106, 11) ;
    color:white;
    border: #ef6603 !important;
}  

#About .nav-pills .active .icon-about {
    color: white;
}
 /* nav tabs icon */
 .bi-check2-all{
    color: #ef6603;

 }